body{
    background-image:url('../images/plain.jpeg');
    background-attachment:fixed;
    background-size:80%;
    background-position:center;
}

.outside_container{
    margin: 3% 0% 0% 27%;
    background-color:rgb(224, 238, 242);
    opacity:85%;
    width:45%;
    border-radius:30px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.itemContainer{
    width:80%;
    display:grid;
    grid-template-columns: 1fr;
    margin-bottom:3%;
}

.border{
    border-bottom:solid;
    border-radius:1px;
    border-color:rgb(167, 177, 181)
}

.input_box{
    height:40%;

}
.item{
   border-bottom:solid;
   border-color:rgb(167, 177, 181);
   padding:2% 2%;
}

.item:hover{
    background-color:rgb(206, 229, 236);
}

.order-input{
    display:flex;
    justify-content: space-between;
    align-items: center;;
}

.dots{
    background:transparent;
}
